.outputCard {
  --card-background-color: transparent !important;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(5px);
}

.colorInfo {
  display: flex;
  padding: 1rem;
  border-radius: 8px;
}

.label-light {
  color: var(--text-secondary);
} 

.label-dark {
  color: var(--text-inverse-secondary);
} 

.value-light {
  color: var(--text-primary);
}

.value-dark {
  color: var(--text-inverse);
}
