:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-primary: var(--gray-12);
  --text-secondary: var(--gray-11);
  --text-inverse: var(--gray-1);
  --text-inverse-secondary: var(--gray-5);
  --color-background: rgba(255, 255, 255, 0);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.radix-themes {
  --default-font-family: 'Geist';
  --heading-font-family: var(--default-font-family);
  --code-font-family: 'Geist Mono';
  --strong-font-family: var(--default-font-family);
  --em-font-family: var(--default-font-family);
  --quote-font-family: var(--default-font-family);
  --font-size-8: 36px;
  --heading-letter-spacing: -0.02em;
  --color-background: rgba(255, 255, 255, 0)!important;
}

body{
  background-color: #f4f4f4;
}

.layout-container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
  min-height: 500px;
  box-sizing: border-box;
}

.input-section {
  flex: 1;
  max-width: 33.333%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.output-section {
  flex: 2;
  max-width: 66.666%;
  background-color: var(--gray-3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
