:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-primary: var(--gray-12);
  --text-secondary: var(--gray-11);
  --text-inverse: var(--gray-1);
  --text-inverse-secondary: var(--gray-5);
  --color-background: rgba(255, 255, 255, 0);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.radix-themes {
  --default-font-family: 'Geist';
  --heading-font-family: var(--default-font-family);
  --code-font-family: 'Geist Mono';
  --strong-font-family: var(--default-font-family);
  --em-font-family: var(--default-font-family);
  --quote-font-family: var(--default-font-family);
  --font-size-8: 36px;
  --heading-letter-spacing: -0.02em;
  --color-background: rgba(255, 255, 255, 0)!important;
}

body{
  background-color: #f0f0f0;
}

.rt-BaseButton.rt-variant-solid {
  box-shadow: 
  inset 1px 1px 1px #ffffffb3,
  inset -1px -1px 1px #0000003b,
  .444584px .444584px .628737px -.75px #00000042,
  1.21072px 1.21072px 1.71222px -1.5px #0000003f,
  2.6583px 2.6583px 3.75941px -2.25px #0000003b,
  5.90083px 5.90083px 8.34503px -3px #00000031,
  14px 14px 21.2132px -3.75px #00000033,
  -.5px -.5px #000000af;
  transition: box-shadow .3s ease;
}

.rt-BaseButton.rt-variant-solid:hover {
  box-shadow: 
  inset .7px .7px 1px #fff,
  inset -.7px -.7px 1px #00000026,
  .3px .3px .3px -.5px #0003,.35px .35px .456px -1px #0000002e,
  1.329px 1.329px 1.88px -1.5px #00000040,
  2.95px 2.95px 4.172px -2px #0000001a,
  7px 7px 10px -2.5px #00000026,
  -.5px -.5px 0 0 rgb(0 0 0/10%)
}

.layout-container {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
  min-height: 500px;
  box-sizing: border-box;
}

.input-section {
  flex: 1;
  max-width: 33.333%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.output-section {
  flex: 2;
  max-width: 66.666%;
  background-color: var(--gray-3);
  background-image: 
    linear-gradient(45deg, #f0f0f0 25%, transparent 25%),
    linear-gradient(-45deg, #f0f0f0 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #f0f0f0 75%),
    linear-gradient(-45deg, transparent 75%, #f0f0f0 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
